@tailwind base;
@tailwind components;
@tailwind utilities;

.active:not(.noactivestyle) {
	background-color: #5e1743;
	color: white;
}

.active:hover:not(.noactivestyle) {
	background-color: #2b0a1e;
	color: white;
}
